.main {
  padding: 3rem;
}

.title {
  color: #f4c518;
  font-size: 28px;
  margin-bottom: 1rem;
}

.casesContainer {
  display: flex;
}

.caseCard {
  margin-right: 2rem;
}

.caseTitle {
  margin-bottom: 0.5rem;
}
