.main {
  padding: 3rem;
}

.title {
  color: #fff;
  margin-bottom: 1rem;
}

.mainImage {
  margin-bottom: 1rem;
}

.typeContainer {
  display: flex;
  margin-bottom: 1rem;
}

.type {
  border: 0.5px solid white;
  border-radius: 16px;
  padding: 0.5rem;
  font-size: 14px;
}
